<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetHouse</title>
    <link rel="stylesheet" href="../style/style2.0.css">
</head>
<body>

    <header>
        <div class="container">
            <div class="divBuscas">
                <input type="text" placeholder="O que você procura?"/>
              </div>
            <div class="divLogin">
                <img class="login-img" src="../style/imagens/login (2).png" alt="login-icon">
                <a class="login-link" href="./login.html">Login</a>
            </div>
            <div class="divMeuCarrinho">
                <img class="car-img" src="../style/imagens/vista-lateral-vazia-do-carrinho-de-compras.png" alt="carrinho-icon">
                <a class="car-link" href="/meuCarrinho">Meu Carrinho</a>
            </div>
        </div>

    </header>

    <main>
         <div class="containerImg">
            <img src="../style/imagens/pexels-jodie-louise-805295.jpg" alt="dog-fundo">
            <p>O SEU MELHOR <br> COMPANHEIRO <br> MERECE O MELHOR <br> PRODUTO</p>
        </div>
        <div class="nossosProdutos">
             <p>Nossos Produtos</p>
        </div>
            <div class="produtos">

                <img src="../style/imagens/racao-veggie.png" alt="">
                <p>Ração Vegana <br> PetHouse</p>
                <p>Valor R$ 79,90</p>
                
                <button>Adicionar ao Carrinho</button>

                <img src="../style/imagens/racao-mix.png" alt="">
                <p>Ração Frango e Bife <br> PetHouse</p>
                <p>Valor R$ 79,90</p>
                
                <button>Adicionar ao Carrinho</button>

                <img src="../style/imagens/racao-meat.png" alt="">
                <p>Ração Cordeiro <br> PetHouse</p>
                <p>Valor R$ 79,90</p>
                
                <button>Adicionar ao Carrinho</button>

            </div>
        
    </main>

    <footer>

        <P>Fazer o Footer Aqui</P>

    </footer>

</body>
</html>